@charset "UTF-8";
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-bcg-color: #2f303a;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-page__logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-page__logo .header-page__logo-studio {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page__logo .header-page__logo-studio:hover,
:focus {
  color: var(--accent-color);
}

.header-page__logo-web {
  color: #2196f3;
}

.header-page__logo-studio {
  color: #212121;
}

.site-nav-list {
  text-decoration: none;
  /*  & {
    display: flex;
    margin-left: 93px;
  } */
}

.site-nav-list > .site-nav-list__item {
  margin-left: 50px;
}

/* .header-page {
  display: flex;
  align-items: center;

  height: 80px;

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-border {
  border-bottom: 1px solid#ececec;
}

.contacts-list {
  display: flex;
  margin: auto;
  margin-right: 0;
}

.contacts-list__svg-mail {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-list__svg-telephone {
  margin-right: 10px;
  margin-left: 0px;
  fill: currentColor;
}
.contacts-list .contacts-list__item + .contacts-list__item {
  margin-left: 30px;
}

.site-nav-list__link-index {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &::after {
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: auto;
    background-color: var(--accent-color);
    border-radius: 4px;
    top: 30px;
  }
}
.site-nav-list__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.active {
  position: absolute;
}

.site-nav-list__link-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.site-nav-list__link-portffolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &::after {
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: auto;
    background-color: var(--accent-color);
    border-radius: 4px;
    top: 30px;
  }
}
.site-nav-list__link-contacts {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.e-mail-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.contacts-list__e-mail-main {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: var(--primery-text-color);

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.contacts-list__phone {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
 */
.hero-overlay {
  display: flex;
  justify-content: center;
  margin: auto;
}

.hero-overlay {
  background-color: rgba(47, 48, 58, 0.4);
  /* 
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
      url(../images/Imghero.jpg);
      */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../../images/headerimg.jpg);
  max-width: 1600px;
  height: 600px;
  background-size: cover;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-overlay__tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  /* font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0; */
}

.hero-overlay__button-studio {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin: 30px auto 0 auto;
  border: none;
}

.button-block__button {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-block__button:hover, .button-block__button:focus {
  color: var(--primery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-block__button-portfolio-one {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-block__button-portfolio-one:hover, .button-block__button-portfolio-one:focus {
  color: var(--primery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-block__button-portfolio-two {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-block__button-portfolio-two:hover, .button-block__button-portfolio-two:focus {
  color: var(--primery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-block__button-portfolio-three {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-block__button-portfolio-three:hover, .button-block__button-portfolio-three:focus {
  color: var(--primery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-block__button-portfolio-four {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-block__button-portfolio-four:hover, .button-block__button-portfolio-four:focus {
  color: var(--primery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-block__button {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: transparent;
}

.button-block__button {
  width: 73px;
  height: 38px;
  border-radius: 4px;
}

.button-block {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.button-block .button-block__item:not(:last-child) {
  margin-right: 8px;
}

.hero-overlay__button-studio {
  background-color: #2196f3;
  color: #ffffff;
}

.button-block__button .button-portfolio,
.button-block__button-portfolio-one,
.button-block__button-portfolio-two,
.button-block__button-portfolio-three,
.button-block__button-portfolio-four {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  padding: 6px 22px;
}

.button-block__button-portfolio-one {
  border-radius: 4px;
  min-width: 128px;
  height: 38px;
  border: transparent;
}

.button-block__button-portfolio-two {
  min-width: 145px;
  height: 38px;
  border-radius: 4px;
  border: transparent;
}

.button-block__button-portfolio-three {
  width: 103px;
  height: 38px;
  border-radius: 4px;
  border: transparent;
}

.button-block__button-portfolio-four {
  width: 130px;
  height: 38px;
  border-radius: 4px;
  border: transparent;
}

.technology-list {
  /* display: flex; */
  justify-content: space-between;
}

.tech-list {
  padding-top: 60px;
  padding-bottom: 30px;
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.antenna {
  align-items: center;
}

.insta {
  color: #afb1b8;
}

.technology-list__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f5f4fa;
  border-radius: 4px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 40px;
  /*
  width: 270px;
  height: 120px;
 */
}

.technology-list__prioritets {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  /*  text-align: left; */
}

.technology-list__tittle {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

br {
  display: none;
}

.our-work {
  display: none;
}

/* padding-bottom: 94px; 
}
.our-work__tittle {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.our-work__list-images > .our-work__item {
  position: relative;
}
.our-work__list-images > .our-work__item:not(:last-child) {
  margin-right: 30px;
}
.our-work__list-images {
  display: flex;
  flex-wrap: wrap;
}

.our-work__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 3px;
}

.our-work__text-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
*/
.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  /*
  padding-top: 94px;
  padding-bottom: 94px;*/
}

.team__tittle {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  /* 
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  text-align: center;

  margin-top: 0;
  margin-bottom: 50px; */
}

.team-last__border {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.links {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.icon {
  display: flex;
}

.links-social__network {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links-social__network:hover, .links-social__network:focus {
  fill: #fff;
  background-color: var(--accent-color);
}

.socialn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialn:hover, .socialn:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

/* .team-list {
  display: flex;
} 
.team-list__item:not(:last-child) {
  margin-right: 30px;
} */
.team-list__item {
  width: 100%;
}

.team-list__name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.team-list__proffession {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*{
  padding-top: 94px;
  padding-bottom: 94px;
} */
.regular-customers__tittle {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
} */
.icon-list
.icon-list > .icon-list__decoration {
  /* margin-right: 30px; */
  text-align: center;
}

.icon {
  fill: var(--primery-white-color);
}

.icon-list .icon-list__decoration:last-child {
  margin: 0;
}

.icon-list__decoration {
  flex-basis: calc(100% / 6)-30px;
  width: 170px;
  height: 94px;
}

.icon-list__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__link:hover, .icon-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.socials {
  /* display: flex; */
  align-items: baseline;
}

.coordinates__logo {
  margin-top: 60px;
  margin-left: 163px;
  margin-right: 163px;
  margin-top: 20px;
  /* до 480px*/
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.coordinates__logo .footerstudio {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.coordinates__logo .footerstudio:hover,
.coordinates__logo .footerstudio:focus {
  color: var(--accent-color);
}

.contacts {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.coordinates__logo-web {
  color: var(--accent-color);
}

.coordinates__logo-studio {
  color: #ffffff;
}

.coordinates__address,
.coordinates__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

/* Для 468 */
.coordinates__link {
  margin-left: 124px;
  margin-right: 100px;
}

.coordinates__address {
  margin-top: 20px;
  margin-bottom: 9px;
}

.coordinates__link-grey {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  /*480*/
  margin-left: 164px;
  margin-right: 124px;
}

.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.sociality__title {
  /*480*/
  margin: 60px 127px 20px 157px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.sociality__title:hover, .sociality__title:focus {
  color: var(--accent-color);
}

.sociality__network {
  /*480*/
  margin-left: 127px;
  display: flex;
  align-items: center;
}

.sociality
.sociality__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sociality
.sociality__link:hover, .sociality
.sociality__link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.sociality__link {
  display: flex;
}

.form {
  display: flex;
  margin-left: 93px;
}

.form-title {
  margin: 60px 100px 20px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.fields__letter {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.fields__letter {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.fields__button {
  position: relative;
  align-items: center;
  display: flex;
  width: 200px;
  height: 50px;
  padding: 0;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.fields__button--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  color: var(--primery-white-color);
  border: none;
}

.fields__button--svg {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin: 13px 8px 13px 148px;
  padding: 0;
}

.fields {
  /*display: flex;*/
  align-items: baseline;
}

.portfolio-projects__image {
  position: relative;
  overflow: hidden;
}

.portfolio-projects__text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  margin-top: 0;
  margin-bottom: 0;
  padding: 64px 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__product:hover .portfolio-projects__text {
  transform: translateY(0);
  opacity: 1;
}

.propositions {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-projects__card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-projects__card:nth-clild(3n) {
  margin-right: 0;
}

.portfolio-projects__card:nth-clild(3n):nth-clild(-n + 3) {
  margin-bottom: 0;
}

.portfolio-projects__border {
  padding: 20px 24px;
  border-right: 1px solid #eeee;
  border-left: 1px solid #eeee;
  border-bottom: 1px solid #eeee;
}

.portfolio-projects__tittle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
}

.portfolio-projects__tittle:hover, .portfolio-projects__tittle:focus {
  color: var(--accent-color);
}

.portfolio-projects__border--text {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.portfolio-projects__border--text:hover, .portfolio-projects__border--text:focus {
  color: var(--accent-color);
}

.portfolio-projects__product {
  display: block;
  text-decoration: none;
}

.portfolio-projects__product {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-right: -30px;
  margin-bottom: -30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50% 50%) scale(1);
}

.modal {
  position: absolute;
  padding: 40px 38px 40px 41px;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__closing-button__icon {
  fill: #000000;
}

.modal__closing-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.modal__closing-button .modal__closing-button__icon:hover,
.modal__closing-button .modal__closing-button__icon:focus {
  fill: var(--accent-color);
}

/**/
.modal-tittle {
  padding-left: 4px;
  padding-bottom: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-send__button {
  display: block;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.modal-send__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  color: var(--primery-white-color);
}

.form-policy {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.form-policy__checkbox-form {
  display: flex;
  position: absolute;
  justify-content: center;
  border: #212121;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-policy__icon {
  align-items: center;
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.form-policy__checkbox-form:checked + .form-policy__icon {
  background-color: var(--accent-color);
  background-image: url("../images/SVG/icon-check-2.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.form-policy__contract {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}

.form-policy {
  margin-bottom: 30px;
}

.modal-send__button {
  display: block;
  align-items: center;
  margin: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-send__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  color: var(--primery-white-color);
}

.form-modal {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 2px;
}

.form-modal__label {
  position: relative;
  display: block;
  margin-bottom: 17px;
  width: 100%;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__input {
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transform: border rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:hover, .form-modal__input:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
  outline: 1px;
}

.form-modal__input:hover + .form-modal__icon,
.form-modal__input:focus + .form-modal__icon {
  fill: var(--accent-color);
}

.form-modal__commenting-field {
  display: block;
  margin-top: 4px;
  width: 100%;
  resize: none;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transform: border rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  transform: translateZ(-50px);
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-modal__commenting-field:hover,
.form-modal__commenting-field:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
  outline: 1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
/*# sourceMappingURL=main.css.map */