.footer-container {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: start;
    align-items: baseline;
  }
}
.footer .logo {
  margin-bottom: 20px;
}
.footer-wraper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-item:last-child {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (max-width: 767px) and(min-width: 1200px) {
      display: flex;
    }
  }
}

.footer__placeholder {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.footer__link {
  color: var(--secondary-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__link[target='_blank'] {
  color: var(--primery-white-color);
}
.sociality__title {
  margin-bottom: 14px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.form {
  @media screen and (min-width: 768px) {
    margin: auto;
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-top: 14px;
  }
}

//*Form-footer

.fields__width {
  margin-bottom: 20px;
}
.fields__letter {
  max-width: 450px;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  & {
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.fields__button {
  align-items: center;
  display: flex;
}
.fields__button--svg {
  margin-left: 10px;
}
