.menu-toggle {
  top: 10px;
  right: 10px;
  display: block;
  margin-right: 21px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  fill: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-toggle-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin-right: 21px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  fill: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.menu-container {
  display: none;
  padding: 48px 40px;
  padding-left: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--primery-white-color);
  &.is-open {
    display: block;
  }
}
.mob__nav-item {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}
.mob__nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mob-tel__link {
  display: block;
  margin-bottom: 34px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob__link {
  margin-top: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mob__contacts-list {
  margin-bottom: 64px;
}
.mob-network {
  display: flex;
  margin-top: 64px;
  margin-left: -10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-network__item:not(:last-child) {
  margin-right: 20px;
}
.mob-network__item {
  margin-left: -10px;
}
.mob-bottom {
  margin-top: auto;
}
.network__I {
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
