.modal__closing-button__icon {
  fill: #000000;
}
.modal__closing-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.modal__closing-button .modal__closing-button__icon:hover,
.modal__closing-button .modal__closing-button__icon:focus {
  fill: var(--accent-color);
}
/**/

.modal-send__button {
  display: block;
  align-items: center;
  margin: auto;

  width: 200px;
  height: 50px;
  padding: 0;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background: #2196f3;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}
.modal-send__text {
  color: var(--primery-white-color);
  font-size: 16px;
  line-height: 1.16px;
}
