.modal-tittle {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  display: block;
}

.form-modal {
  display: flex;
  flex-direction: column;
}
.form-modal__label {
  position: relative;
  display: block;
  margin-bottom: 17px;
  width: 100%;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__input {
  display: block;
  height: 40px;
  width: 100%;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
    outline: 1px;
  }
}
.form-modal__input:hover + .form-modal__icon,
.form-modal__input:focus + .form-modal__icon {
  fill: var(--accent-color);
}
.modal__text {
  margin-bottom: 4px;
}

.form-modal__commenting-field {
  display: block;

  width: 100%;
  resize: none;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transform: border rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  line-height: 1.1px;

  transform: translateZ(-50px);
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-policy__text {
  font-size: 12px;
  line-height: 1.14px;
  & .form-policy__treaty {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}
.form-modal__commenting-field:hover,
.form-modal__commenting-field:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
  outline: 1px;
}
