.form-policy {
  @media (max-width: 1199px) {
    display: block;
    align-items: center;
  }
  @media (min-width: 1199px) {
    margin-left: 10px;
  }
}
.form-policy__checkbox-form {
  display: flex;
  position: absolute;
  justify-content: center;

  border: #212121;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-policy__icon {
  align-items: center;
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #212121;
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    margin-right: 0;
  }
}

.form-policy__checkbox-form:checked + .form-policy__icon {
  background-color: var(--accent-color);
  background-image: url('../images/SVG/icon-check-2.svg');

  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.form-policy {
  margin-bottom: 30px;

  @media screen and (max-width: 480px) {
    display: block;
    margin-left: 0;
  }
}
