.socials {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: inherit;
    justify-content: inherit;
    text-align: inherit;
    display: flex;
    align-items: baseline;
  }
}
/* display: flex; 
  align-items: baseline;
 */
.coordinates__logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.coordinates__logo .footerstudio {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.coordinates__logo .footerstudio:hover,
.coordinates__logo .footerstudio:focus {
  color: var(--accent-color);
}

.contacts {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.coordinates__logo-web {
  color: var(--accent-color);
}
.coordinates__logo-studio {
  color: #ffffff;
}

.coordinates__address,
.coordinates__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
/* Для 468 */

.coordinates__address {
  margin-top: 20px;
  margin-bottom: 9px;
}
.coordinates__link-grey {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}
.sociality__title {
  /*480*/
  margin-top: 60px;
  margin-bottom: 14px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}
.sociality__network {
  /*
  margin-left: 127px; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.sociality {
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

/* .sociality 

   {
  margin-left: 70px;
} */
.sociality__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--accent-color);
  }
}
.sociality__link {
  display: flex;
}

.form {
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    margin: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-top: 0;
  }
}

//*Form-footer

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.fields__width {
  margin-bottom: 20px;
}
.fields__letter {
  width: 450px;
  height: 50px;
  left: 815px;
  top: 2787px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  & {
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-left: 0;
  }
}
.fields__button {
  position: relative;
  align-items: center;
  display: flex;
  margin: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  letter-spacing: 0.06em;
  background: #2196f3;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.fields__button--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  color: var(--primery-white-color);
  border: none;
}
.fields__button--svg {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin: 13px 8px 13px 148px;
  padding: 0;
}
.fields {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

