.portfolio-projects__image {
  position: relative;
  overflow: hidden;
}
.portfolio-projects__text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  margin-top: 0;
  margin-bottom: 0;
  padding: 64px 24px;

  font-size: 18px;
  line-height: 1.56;

  background-color: rgba(33, 150, 243, 0.9);

  font-family: Roboto;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-projects__product:hover .portfolio-projects__text {
  transform: translateY(0);
  opacity: 1;
}

.propositions {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-projects__card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    text-align: start;
    margin: 15px;
  }
}
.portfolio-projects__card:nth-clild(3n) {
  margin-right: 0;

  &:nth-clild(-n + 3) {
    margin-bottom: 0;
  }
}
.portfolio-projects__border {
  padding: 20px 24px;

  border-right: 1px solid#eeee;
  border-left: 1px solid#eeee;
  border-bottom: 1px solid#eeee;
}

.portfolio-projects__tittle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.portfolio-projects__border--text {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.portfolio-projects__product {
  display: block;
  text-decoration: none;
  & {
    transition-property: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-right: -30px;
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    margin: -15px;
    padding: 0;
  }
}
