.technology-list {
  /* display: flex; */
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: inherit;
  }
}
.tech-list {
  padding-top: 60px;
  padding-bottom: 30px;

  /* padding-top: 94px;
  padding-bottom: 94px; */
}
.antenna {
  align-items: center;
}
.insta {
  color: #afb1b8;
}

.technology-list__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  /* width: 450px; */
  height: 120px;
  padding-left: 15px;
  padding-right: 15px;

  background: #f5f4fa;
  border-radius: 4px;
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 40px;

  /*
  width: 270px;
  height: 120px;
 */
}

.technology-list__prioritets {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }

  /*  text-align: left; */
}

.technology-list__tittle {
  margin-top: 10px;

  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
br {
  display: none;
}

.technology-list__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    text-align: start;
    margin: 15px;
  }
}

.our-work {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-bottom: 94px;
  }
  .our-work__tittle {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .our-work__list-images > .our-work__item {
    position: relative;
  }
  .our-work__list-images > .our-work__item:not(:last-child) {
    margin-right: 30px;
  }
  .our-work__list-images {
    display: flex;
    flex-wrap: wrap;
  }

  .our-work__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 3px;
  }

  .our-work__text-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__tittle {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.team-last__border {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.links {
  display: flex;

  justify-content: center;

  padding-bottom: 30px;
}

.icon {
  display: flex;
}

.links-social__network {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #fff;
    background-color: var(--accent-color);
  }
}
.socialn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--accent-color);
  }
}

.team-list {
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: inherit;
    margin: 0;
  }
}

/* .team-list {
  display: flex;
} 
.team-list__item:not(:last-child) {
  margin-right: 30px;
} */

.team-list__item {
  width: auto;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
.team-list__name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.team-list__proffession {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.regular-customers__tittle {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: center;
    flex-wrap: inherit;
    padding: 0;
    margin: 0;
  }
}

/* .icon-list > .icon-list__decoration {
   margin-right: 30px; 
  text-align: center;
} 
.icon {
  fill: var(--primery-white-color);
}

.icon-list .icon-list__decoration:last-child {
  margin: 0;
} */

.icon-list__decoration {
  /* 480 */
  display: flex;
  margin: 15px;
  flex-basis: calc((100% - 2 * 30px) / 2);

  height: 92px;

  /* width: 170px;
  height: 94px; */
}
.icon-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
