:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-bcg-color: #2f303a;
  --secondary-page-h-color: #ececec;
  --card-item: 1;
}
